#dataTitle {
    text-align: left;
    font-family: arial, sans-serif;
  }

#data {
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 3px solid black;
  
  }

  #data td, #data th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #data tr:nth-child(even){
      background-color: #f2f2f2;
    }
  
  #data tr:hover {
      background-color: #ddd;
    }
  
  #data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
  }

 
  